@media (min-width: 200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "td"
    "ar"
    "fo";
  }
}

@media (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    ". td ."
    ". ar ."
    ". fo .";
  }
}

body {
  background-color:#000 ;
  font-family: arial, sans-serif;
}

header, h2 {
  text-align: center;
  color: #f3efe0;
}

button {
  margin: 5px;
  padding: 5px;
}

.todo {
  grid-area: td;
  color:#f3efe0;
  background-color: #cba135;
  padding: 10px;
}

.archive {
  grid-area: ar;
  background-color: #cba135;
  margin-top: 20px;
  padding: 10px;
}

.formulaire {
  grid-area: fo;
  color: #f3efe0;
  margin-top: 20px;
  text-align: center;
  background-color: #cba135;
  padding: 10px;
}

li {
  font-size: 1.3em;
  padding: 5px;
  text-decoration: none;
  list-style: none;

}

.rec {
  text-align: center;
}
